<h1 mat-dialog-title>Criar Cliente</h1>
<div mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="11 111111111" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="btn-xs btn-danger">Fechar</button>
  &nbsp;
  <button mat-button class="btn-xs btn-primary">Criar</button>
</div>
